{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipifyAI</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="navbar-container">
        <!-- Navbar content -->
    </div>
    <div class="heading">
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-orange-400">RecipifyAI</span> - Eat what you see.
        </h1>
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">At RecipifyAI, we encourage efficient and nutritious eating powered by Computer Vision and Machine Learning</p>
    </div>
    <div class="space"></div>
    <div id="image-upload-section" class="image-upload-section">
        <form method="post" enctype="multipart/form-data" action="{% url 'image_upload' %}">
            {% csrf_token %}
            <label for="image-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Upload an image:</label>
            <input type="file" id="image-input" name="image-input" accept="image/*" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
            <button type="submit" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </div>
    {% if uploaded_file_url %}
    <div class="mt-4">
        <h2 class="text-xl font-bold mb-2">Uploaded Image</h2>
        <img src="{{ uploaded_file_url }}" alt="Uploaded Image">
    </div>
    {% endif %}
    {% if recipe %}
    <div class="recipe-section mt-8">
        <h2 class="text-2xl font-bold mb-4">Your Recipe</h2>
        <p>{{ recipe }}</p>
    </div>
    {% endif %}
    <!-- Any error/success messages -->
    {% if messages %}
        {% for message in messages %}
            <div>
                <div>
                    <span>{{ message }}</span>
                    <span>{{ message.id }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <!-- Main content of the page -->
    {% block content %}
    {% endblock %}
    <!-- Any necessary JS -->
    {% block script %}
    <script>
        document.getElementById('get-started-btn').addEventListener('click', function() {
            document.getElementById('image-upload-section').scrollIntoView({ behavior: 'smooth' });
        });
    </script>
    {% endblock %}
</body>
</html>
