<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    {% endblock %}
</head>
<body>
    <div class="navbar-container">
        <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'img/logo.jpeg' %}" class="h-8" alt="RecipifyAI Logo">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">RecipifyAI</span>
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <button id="menu-button" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM4 15a1 1 0 100-2h12a1 1 0 100 2H4z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="{% url 'home' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
                        </li>
                        <li>
                            <a href="{% url 'image_upload' %}" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Upload</a>
                        </li>
                        <li>
                            <a href="{% url 'gallery' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Gallery</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <!-- Sidebar -->
    
    <div id="sidebar" class="fixed top-0 left-0 w-64 h-full bg-gray-800 text-white transform -translate-x-full transition-transform duration-300 ease-in-out z-30">
        <button id="close-sidebar" class="absolute top-4 right-4 text-white">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        <ul class="flex flex-col p-4 mt-4 space-y-2 font-medium border border-gray-700 rounded-lg bg-gray-800">
            <li>
                <a href="{% url 'home' %}" class="block py-2 px-3 text-white rounded hover:bg-gray-700">Home</a>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-white rounded hover:bg-gray-700">About</a>
            </li>
            <li>
                <a href="{% url 'image_upload' %}" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700" aria-current="page">Upload</a>
            </li>
            <li>
                <a href="{% url 'gallery' %}" class="block py-2 px-3 text-white rounded hover:bg-gray-700">Gallery</a>
            </li>
            <li>
                <a href="{% url 'contact' %}" class="block py-2 px-3 text-white rounded hover:bg-gray-700">Contact</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}" class="block py-2 px-3 text-white rounded hover:bg-gray-700">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}" class="block py-2 px-3 text-white rounded hover:bg-gray-700">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="heading my-0 text-center px-4">
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-orange-400">Upload Section</span>
        </h1>
    </div>
    <div class="upload-container">
        <div id="image-upload-section" class="image-upload-section my-24 mx-auto max-w-lg px-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="image-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Upload an image:</label>
                <div class="flex flex-col sm:flex-row items-center sm:space-x-4">
                    <input type="file" id="image-input" name="image-input" accept="image/*" class="block w-full sm:w-auto text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
                </div>
                <div id="image-preview-container" class="mt-4 w-full h-48 overflow-hidden rounded-lg bg-gray-100 flex justify-center items-center">
                    <img id="image-preview" class="max-w-full max-h-full" style="display: none;" />
                </div>
                <button id="submit-button-js" type="submit" class="mt-4 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                <div class="upload-spinner" role="status">
                    <div class="flex justify-center items-center min-h-screen">
                        <div class="grid justify-items-center">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fetching recipes...</label>
                            <svg id="spinner" aria-hidden="true" class="w-10 h-10 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600 mx-auto" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>                    
                </div>
            
            </form>
        </div>
    </div>

    {% if uploaded_file_url %}
    <h2 class="text-2xl font-bold mb-4 flex justify-center">Uploaded Image</h2>
    <div class="uploaded-img"
        <div class="image-section mt-8 mx-24 max-w-lg">
            <img src="{{ uploaded_file_url }}" alt="Uploaded Image" class="justify-center w-64 h-64">
        </div>
    </div>
    {% endif %}
    
    {% if recipes %}
    <div class="heading my-0 text-center px-4">
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-orange-400">Recipes</span>
        </h1>
    </div>    
    <div class="recipe-section flex flex-wrap justify-center">
        {% for recipe in recipes %}
        <div class="recipe">
            <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="recipe-title">{{ recipe.name }}</div>
                <div class="ingredients-title">Ingredients Required</div>
                <ul class="list-disc">
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}
                    {% endfor %}
                </ul>
                <div class="ingredients-title">Recipe</div>
                <ol class="list-decimal">
                    {% for step in recipe.method %}
                        <li>{{ step }}</li>
                    {% endfor %}
                </ol>
                <button type="button"
                onclick="window.location.href='{% url 'show_recipe' recipe.id %}'" 
                class="mt-4 w-full focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900">
                Show More</button>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block script %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const openPopupButton = document.getElementById('open-popup');
            const closePopupButton = document.getElementById('close-popup');
            const popup = document.getElementById('popup');
            
            openPopupButton.addEventListener('click', () => {
                popup.classList.remove('hidden');
            });
            
            closePopupButton.addEventListener('click', () => {
                popup.classList.add('hidden');
            });

            function cls() {

            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#image-preview-container').hide();
            $('#image-input').on('change', function() {
                var file = this.files[0];
                if(file) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#image-preview-container').show();
                        $('#image-preview').attr('src', e.target.result).show();
                    }
                    reader.readAsDataURL(file); }
        
            });
            $('.upload-spinner').hide();
        });

        $('#submit-button-js').click(function() {
            $('.upload-spinner').show();
        });
        
        // Handle modal popup
        $(document).on('click', '.open-modal-btn', function() {
            $(this).siblings('.modal-box').addClass('open-popup');
        });

        $(document).on('click', '.close-modal-btn', function() {
            $(this).closest('.modal-box').removeClass('open-popup');
        });

        const menuButton = document.getElementById('menu-button');
        const sidebar = document.getElementById('sidebar');
        const closeSidebarButton = document.getElementById('close-sidebar');

        menuButton.addEventListener('click', () => {
            sidebar.classList.toggle('-translate-x-full');
        });
    
        closeSidebarButton.addEventListener('click', () => {
            sidebar.classList.toggle('-translate-x-full');
        });
    </script>
    {% endblock %}
</body>
</html>