.heading {
    margin-top: 100px;
    text-align: center;
}

.space {
    height: 1600px;
}

/* .image-upload-section {
    padding: 20px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
} */

