body{
    padding: 100px;
}

.upload-container {
    height: 100%; /* Ensure the body and html take full height */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Add a background color for better visibility */
}

.heading {
    margin-top: 20px;
    text-align: center;
}
/* Update the #image-upload-section styles */
#image-upload-section {
    display: block;
    padding: 30px;
    margin: 30px auto   ;
    border-radius: 15px;
    text-align: center;
    max-width: 600px; /* Set a maximum width to prevent it from stretching too wide */
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.12);
}


.image-upload-form {
    justify-content: center;
    font-size: 1.7rem;
    padding: 20px;
}

.upload-label {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.uploaded-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-section {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.recipe { 
    display: inline-block;
    padding: 10px 10px;
    min-width: 300px; 
    max-width: 100%; 
    overflow: auto; 
    box-sizing: border-box; 
}

.recipe-title {
    font-weight: 900;
    font-size: 20px;
    white-space: nowrap; 
    overflow: break-word;
    text-overflow: ellipsis; 
    min-width: 300px; 
    max-width: 100%; 
    overflow: auto; 
    box-sizing: border-box;
}

.ingredients-title {
    font-weight: 700;
    font-size: 15px;
}


.upload-spinner {
    margin-top: 20px;
}

#spinner {
    margin-left: 115px;
}

.modal-box {
    width: 400px;
    background: #ffff;
    border-radius: 6px;
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(90%, 90%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: visible;
    transition: transform 0.4s, top 0.4s;
}

.modal-box .open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}