body{
    padding: 100px;
}

.upload-container {
    height: 100%; /* Ensure the body and html take full height */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Add a background color for better visibility */
}

.heading {
    margin-top: 20px;
    text-align: center;
}
/* Update the #image-upload-section styles */
#image-upload-section {
    display: block;
    padding: 30px;
    margin: 30px auto   ;
    border-radius: 15px;
    text-align: center;
    max-width: 600px; /* Set a maximum width to prevent it from stretching too wide */
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.12);
}


.image-upload-form {
    justify-content: center;
    font-size: 1.7rem;
    padding: 20px;
}

.upload-label {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.uploaded-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-section {
    display: flex;
    justify-content: center;
    align-items: flex-center;
    
}

.recipe { 
    display: inline-block;
    padding: 10px 10px;
}

.recipe-title {
    font-weight: 900;
    font-size: 20px;
}

.ingredients-title {
    font-weight: 700;
    font-size: 15px;
}